@import url('https://fonts.googleapis.com/css?family=Anton|Roboto&display=swap');
.search {
    display: flex;
    width: 50%;
}
.search__icon {
    margin-right: 5px;
    font-size: 10px;
    align-self: center;
}
.search__input {
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 5px;
}
.search__button {
    margin: 0;
    font-size: 24px;
}
.search__button:disabled {
    margin: 0;
    background-color: #dfdfdf;
    color: #4032be;
    font-size: 24px;
}
@keyframes slideIn {
    from {margin-left:40%}
    to {margin-left: 7%}
}
.staticForm {
    height: 35px;
    align-items: center;
    padding: 0;
    display: flex;
    margin-top: 3px;
    margin-left:40%;
    position: absolute;
}
.movingForm {
    padding: 0;
    display: flex;
    margin-top: 3px;
    margin-left: 7%;
    position: absolute;
    width: 500px;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier();
}
.search-results {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.search-results__message {
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
  }